h1{
    color: red;
	}
div[id="text"] {
			background-color:#555;
			color:red;
	}
#rounded {
	background-color:#666;
	color:#fff;
	line-height:12px;
	width:100px;
	padding:10px;
	-webkit-border-radius: 30px;
	-ms-border-radius: 30px;
}
@media print { body { display:none } }

.menu {
	list-style-type: none ;
	height: 40px;
	padding: 0;
	margin: 0;
}
.menu li {
	float:left;
	position: relative;
	padding: 0;
	line-height: 40px;
	background: #600;
}
.menu li a {
	display: block;
	font-family: "Arial";
	font-weight: 600;
	font-size: 14px;
	padding:5px 25px;
	color:#fff;
	text-decoration: none;
}
.menu li a:hover{
	color:#F90
}
.menu li ul {
	opacity: 0;
	position: absolute;
	left: 0;
	width: 180px;
	background: #d8afaf;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.menu li:hover ul {
	opacity: 1;
}
.menu li ul li {
	float: none;
	position: static;
	height: 0;
	line-height: 0;
	background: none;
}

.menu li:hover ul li {
	height: 30px;
	line-height: 20px;
	padding: 5 px 0;

}
.menu li ul li a {
	background: #d8afaf;
	font-family: 'Courier New', Courier, monospace;
	font-weight:  600;
	font-size: 14px;
	color: #900;
}

.menu li ul li a :hover {
	background: #900;
}

.field {
	clear:both;
}


.move{
	width:100px;height: 20px;background-color: #900;
	/*transform: translate(100px,20px);*/ /*平移 x:100px, y:20px*/
	/*transform: scale(1.5,2); *//*縮放 :X :1.5, Y:2*/
	/*transform:rotate(45deg);*//*旋轉45度*/
	transform:skew(45deg, 10deg);/*歪斜*/
}
table { 
  border: 10px; 
  font-family: arial; 
  font-size:14px; 
} 
th { 
  background-color:yellow; 
} 
td { 
  border-bottom:1 solid #000000; 
  background-color:pink;
  border:10px; 
} 

.fail { 
  color:#FF0000; 
}

main{ /*容器*/
	display:flex; 
	flex-wrap: wrap; /* 換行*/
	justify-content: center; /* for flex only, 設定水平對齊*/
	align-items: center;/* for flex only, 設定垂直對齊, stretch, flex-start, flex-end*/
	background-color: #cccccc;

}
main>.item{  /*項目*/
	flex: auto;
	width:300px;margin: 10px;padding:10px;
	background-color: #ffcccc;
}

@media (max-width:1200px){
	main>.item{
		width:45%;
	}
}